<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/admin.css') }}">
    <title> Admin </title>
</head>
  <body>
    
    <div class="As_img">
        <img src="{{ url_for('static', filename='image/AshokSthambh.png') }}" alt="logo">
    </div>
    <header>
      <p>GOVERNMENT OF MADHYA PRADESH</p>
      <h2>MINISTRY OF ROAD TRANSPORT & HIGHWAYS</h2>
  </header>


    <!--Navigation bar-->

    <div class="nav_bar">
      <nav>
          <ol>
              <a href="{{ url_for('About_us') }}" target="_blank">About Us</a>
              <a href="{{ url_for('Home') }}" target="_blank">Home</a>
              <a href="{{ url_for('Licence') }}" target="_blank">Licence</a>
              <a href="{{ url_for('vehicle_reg') }}" target="_blank">Vehicle</a>
              <a href="{{ url_for('login')}}" target="_blank">Admin</a>
              <a href="{{ url_for('Contect') }}"target="_blank">Contact Us</a>
          </ol>
      </nav>
  </div>
    
    <!--User Table-->
    <div class="container my-3">
        <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Vehicle owner Name</th>
                <th scope="col">vehicle Image</th>
                <th scope="col">Year Of Manufacturer</th>
                <th scope="col">Vehicle Type</th>
                <th scope="col">Actions</th>
              </tr>
            </thead>
            <tbody>
              {% for vehicle in allUsers %}
              <tr>
                <th scope="row">{{loop.index}}</th>
                <td>{{vehicle.carname}}</td>
                <td><img src="{{ url_for('static', filename='/image/' +  vehicle.carimg ) }}" height="80" width="80"></td>
                <td>{{vehicle.yofm}}</td>
                <td>{{vehicle.Vt}}</td>
                <td><a href="/delete/{{vehicle.id}}" type="button" class="btn btn-outline-dark btn-sm mx-1">Delete</button>
                  <!-- <a href="/update/{{vehicle.id}}" type="button" class="btn btn-outline-dark btn-sm mx-1">Update</button> -->
                  </td>
              </tr>
              {% endfor %}
            
            </tbody>
          </table>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
  </body>
</html>