<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CNG Maker</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/About.css') }}">
</head>

<body>
    <!-- Header -->

    
    <div class="As_img">
        <img src="{{ url_for('static', filename='image/AshokSthambh.png') }}" alt="logo">
    </div>

    <header>
        <p>GOVERNMENT OF MADHYA PRADESH</p>
        <h2>MINISTRY OF ROAD TRANSPORT & HIGHWAYS</h2>
    </header>


        <!--Navigation bar-->

    <div class="nav_bar">
        <nav>
            <ol>
                <a href="{{ url_for('About_us') }}" target="_blank">About Us</a>
                <a href="{{ url_for('Home') }}" target="_blank">Home</a>
                <a href="{{ url_for('Licence') }}" target="_blank">Licence</a>
                <a href="{{ url_for('vehicle_reg') }}" target="_blank">Vehicle</a>
                <a href="{{ url_for('login')}}" target="_blank">Admin</a>
                <a href="{{ url_for('Contect') }}"target="_blank">Contact Us</a>
            </ol>
        </nav>
    </div>

        <div class="about">
            <h4>CNG Maker</h4>
        </div>

        <div class="infor">
            <h3>WELCOME TO CNG VAHAN SEWA</h3>
            <p>Compressed natural gas (CNG) can be used in place of gasoline (petrol), Diesel fuel and propane/LPG. CNG combustion produces fewer undesirable gases than the fuels mentioned above. It is safer than other fuels in the event of a spill, because natural gas is lighter than air and disperses quickly when released.</p>

            <p>
                Benifits:– <br>

– CNG-powered vehicles have lower maintenance costs than other hydrocarbon-fuel-powered vehicles. <br>
– CNG fuel systems are sealed, preventing fuel losses from spills or evaporation, So CNG-powered vehicles are considered to be safer than gasoline-powered vehicles. <br>
– Being a gaseous fuel, CNG mixes easily and evenly in air. <br>
– CNG is less likely to ignite on hot surfaces, since it has a high auto-ignition temperature (540 °C), and a narrow range (5–15 percent) of flammability.
            </p>

            <h6>Installation Requirements:– Given are some requirement to install the CNG-</h6>

            <p>– Location of CNG compression, storage and dispensing shall be located and conducted in accordance with NFPA 1 and NFPA 52. <br>
                – Manually operated container/shutoff valve shall be listed or approved and shall be provided for each container. <br>
                – Pressure relief devices for ASME containers shall be listed or approved. Provided with one or more spring-loaded pressure relief valves set up to open in accordance with ASME code. Installed so any discharge will be in a vertical position and fitted with suitable raincaps.</p>

            <h6>PERMIT CONDITIONS :– Given are some conditions for all CNG propelled contract carriages-</h6>

            <p>– The permits shall be subject to the conditions/provisions as laid down in the Motor Vehicles Act, 1988 and rules subject to the conditions/directions laid down by the STA, Delhi from time to time. Further, terms and conditions of specific schemes will be additional permit conditions for the permit granted under the particular scheme. <br>
                – The permit holder will follow all the general conditions attached to permit under Section 84 of Motor Vehicles Act 1988.</p>

            <h6>CNG Retrofittment Type Approval :–</h6>

            <p>– Government of India has permitted use of CNG (Compressed Natural Gas) as automotive fuels. Accordingly, provisions related to emission, safety, installation and other requirements for permitting such conversion are also notified under Rule 115 of CMVR. <br>
                – Kit manufacturer should seek approval from any one of the test agencies notified under Rule 126. Approval is done on the basis of component tests, engine tests, vehicle tests and other requirements.</p>
        </div>

        <!-- footer  -->
        <div class="footer">
            <footer>
                <a href="#">FAQ</a>
                <a href="#">Contact Us</a>
                <a href="#">Terms of Use</a>
                <a href="#">Privacy Policy</a>
                <a href="#">Refund Policy</a>
                <a href="#">&copy; 2022 | RTO</a>
            </footer>
        </div>

    </body>

</html>