<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homologation</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/About.css') }}">
</head>

<body>
    <!-- Header -->

    
    <div class="As_img">
        <img src="{{ url_for('static', filename='image/AshokSthambh.png') }}" alt="logo">
    </div>

    <header>
        <p>GOVERNMENT OF MADHYA PRADESH</p>
        <h2>MINISTRY OF ROAD TRANSPORT & HIGHWAYS</h2>
    </header>


        <!--Navigation bar-->

    <div class="nav_bar">
        <nav>
            <ol>
                <a href="{{ url_for('About_us') }}" target="_blank">About Us</a>
                <a href="{{ url_for('Home') }}" target="_blank">Home</a>
                <a href="{{ url_for('Licence') }}" target="_blank">Licence</a>
                <a href="{{ url_for('vehicle_reg') }}" target="_blank">Vehicle</a>
                <a href="{{ url_for('login')}}" target="_blank">Admin</a>
                <a href="{{ url_for('Contect') }}"target="_blank">Contact Us</a>
            </ol>
        </nav>
    </div>

        <div class="infor">
            <h3>Homologation</h3>
            <p>Homologation is the process of certifying that a particular vehicle is roadworthy and matches certain specified criteria laid out by the government for all vehicles made or imported into that country. Essentially, the tests ensure that the vehicle matches the requirements of the Indian market in terms of emission and safety and road-worthiness as per the Central Motor Vehicle Rules. For Homologation purposes, vehicles are categorized as:</p>

            <p>
Category A: Means a Category Agricultural Tractor Power tillers are included in this category. <br>

Category C: This is Construction Equipment Vehicle (CEV). <br>

Category L1: Means a motorcycle with maximum speed not exceeding 45 km/h and engine capacity not exceeding 50cc if fitted with thermic engine or motor power not exceeding 0.5 kilo watt if fitted with electric motor.<br>

Category L2: Means a motorcycle other than Category L1.<br>

Category L3: Means a two wheel motorcycle with an engine cylinder capacity in the case of a thermic engine exceeding 50 cm3 or whatever the means of propulsion a max. design speed exceeding 50 km/h. with more then 50 cc and speed of more then 50 kmph.<br>
            </p>


            <p>Category L5M: Means a L5M category-Passenger carrier (Auto rickshaw) and Gross vehicle Weight is equal to 1500 kilograms. <br>

                Category L5N: Means a motorcycle other than Category L1.<br>
                
                Category M: Means a motor vehicle with at least four wheels used for the carrying passengers.<br>
                
                 Category M1: Means a motor vehicle used for the carriage of passengers, comprising not more than eight seats in addition to the driver's seat.<br>
                 Category M2: Means a motor vehicle used for the carriage of passengers, comprising nine or more seats in addition to the driver's seat and having a maximum Gross Vehicle Weight not exceeding 5 tons.<br>
                 Category M2G: Means a motor vehicle used for the carriage of passengers, comprising nine or more seats in addition to the driver's seat and having a maximum Gross Vehicle Weight not exceeding 5 tons and Having addition Off road (Cross country vehicle) capabilities.<br>
                 Category M3: Means a motor vehicle used for the carriage passengers, comprising nine or more seats in addition to the driver's seat and having a maximum Gross Vehicle Weight exceeding 5 tons.<br>
                 Category M3G: Means a motor vehicle used for the carriage passengers, comprising nine or more seats in addition to the driver's seat and having a maximum Gross Vehicle Weight exceeding 5 tons and Having addition Off road (Cross country vehicle) capabilities.<br>
                </p>

        
            <p>Category N: Means motor vehicles having at least four wheels used for the carrying goods which may also carry persons in addition to the goods subject to conditions.<br>
                
                 Category N1: Means a motor vehicles used for carriage of goods and having a Gross vehicle Weight not exceeding 3.5 tons.<br>
                 Category N2: Means a motor vehicles used for carriage of goods and having a Gross vehicle Weight exceeding 3.5 tons but not exceeding 12 tons.<br>
                 Category N3: Means a motor vehicles used for carriage of goods and having a Gross vehicle Weight exceeding 12 tons.<br>
                Category T: This is all about Trailer Category, It is used for the carrying goods.<br>
                
                 Category T1: Means a Trailer used for carriage of goods and having a Gross vehicle Weight not exceeding .75 tons.<br>
                 Category T2: Means a Trailer used for carriage of goods and having a Gross vehicle Weight exceeding .75 tons but not exceeding 3.5 tons.<br>
                 Category T3: Means a Trailer used for carriage of goods and having a Gross vehicle Weight exceeding 3.5 tons but not exceeding 10 tons.<br>
                 Category T4: Means a Trailer used for carriage of goods and having a Gross vehicle Weight exceeding 10 tons.<br>
                 Category T5: Means A semi Trailer intended to be drawn by a three wheeled haulage tractor</p>

            
        <!-- footer  -->
        <!-- <div class="footer">
            <footer>
                <a href="#">FAQ</a>
                <a href="#">Contact Us</a>
                <a href="#">Terms of Use</a>
                <a href="#">Privacy Policy</a>
                <a href="#">Refund Policy</a>
                <a href="#">&copy; 2022 | RTO</a>
            </footer>
        </div> -->

    </body>

</html>